<div class="row statisticInputDefinition">

    <div class="col-12 row-icon-hyt_plusC" *ngIf="!groupByAlgorithm">
        <span class="add-statistic-input hyt-icon icon-hyt_plusC" (click)="addStatisticInput()"></span>
    </div>

    <div *ngFor="let statisticInputForm of statisticInputForms; let i = index" class="col-12">
        <form [formGroup]="statisticInputForm.form" autocomplete="on">
            <div class="form-group row">

                <div class="container-first-form-field col-6">
                    <hyt-select [form]="statisticInputForm.form" [options]="packetOptions" formControlName="packet" name="packet"
                        [isRequired]="true" i18n-label="@@HYT_packet" label="Packet" (changeFn)="packetChanged($event.value, i)">
                    </hyt-select>
                </div>

                <div id="algAndPackBefore" *ngIf="!canBindInputFields(statisticInputForm.leafFieldList)" class="col-6">
                    <p i18n="@@HYT_select_algorithm_packet_before">Select algorithm and packet before</p>
                </div>
                <div id="algAndPackBefore_selected" *ngIf="canBindInputFields(statisticInputForm.leafFieldList)" class="col-6">
                    <p>Packet selected, complete other fields</p>
                </div>

                <div class="col-3 container-form-field hidden-form-value">
                    <hyt-input-text [form]="statisticInputForm.form" formControlName="mappedInputList" name="mappedInputList" [isRequired]="true">
                    </hyt-input-text>
                </div>

                <!-- GroupBy -->
                <div class="container-first-form-field col-6" *ngIf="groupByAlgorithm && fieldsList.length > 0">
                    <hyt-select
                    [form]="statisticInputForm.form"
                    formControlName="groupBy2"
                    [label]="'GroupBy'"
                    name="groupBy2"
                    [options]="fieldsList"
                    [isMultiple]="true"
                    [isSearchable]="true"
                    [changePositionStrategy]="true"
                    [isRequired]="true"
                    (changeFn)="groupByChanged(statisticInputForm.form, $event, i)"
                    >
                    </hyt-select>
                </div>

                <div id="groupBySelectLabel" class="col-6" *ngIf="groupByAlgorithm && fieldsList.length > 0">
                    <p>Selected {{number_field_selected}} items</p>
                </div>
                <!-- fine GROUPBY-->

                <!-- Input list field -->
                <ng-container (hidden)="fieldsList.length > 0">
                    <div *ngFor="let input of inputList; let ii = index" class="container-first-form-field col-6" (click)="this.checkOptions(statisticInputForm.form, input.label)">
                        <hyt-select
                        [form]="statisticInputForm.form"
                        formControlName="{{input.label}}"
                        [label]="input.label"
                        name="{{input.label}}"
                        id="{{input.label}}"
                        [options]="fieldsInputList"
                        [isRequired]="true"
                        (changeFn)="inputChanged(statisticInputForm.form, input.label, i)"
                        >
                        </hyt-select>
                    </div>
                </ng-container>

                 <!-- Remove packet -->
                <div class="container-delete-statistic-input col-2">
                    <span *ngIf="i!=0" class="hyt-icon icon-hyt_cancel" (click)="removeStatisticInput(i)"></span>
                </div>

            </div>
        </form>
    </div>

</div>